/* IDEE A METTRE 
    -Carousel avec incrustation des 3 meilleurs film du moments avec transition vers la droite toutes les 3 secondes
    -Navbar sur le coté avec tout les diférents type de film / série 
    -navbar sur le haut de page avec les informations diverses 
    -Barre de recherche basique 
    -









/* HEADER/BODY */


header{
    background-color: rgb(184, 165, 165);
}

body{
    background-color: white;
}

header {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#carouselExemple {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
}

.carousel-item img {
    width: 100%;
    height: auto;

}

/* TITRES/P */


p{
    color: grey;
}

h1,h2,h3,h4{
    font-size: 50px;
    color: black;
    font-family: 'lato', 'arial', sans-serif;
    font-weight: 300;
}

h2{
    font-size: 40px;
}

.home h1{
    color: white;
    font-size: 130px;
    font-weight: 950;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    
}

/* BTN */


.btn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
}
.btn-full { 
    font-size: 80px;
    background-color: none;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    margin-left: 270px;
    margin-top: 140px;
}


/* MENU */



img{
      align-items: baseline;
}


.menu-title{
    top: 30%;
    color: black;
}
.menu-title h1{
    color: black;
    font-size: 400%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-title h2{
    color: black;
    font-size: 400%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.pack span {
    font-weight: 100;
    font-size: 40%;
    position: relative;
    left: 2px;
    top: -15px ;
}

.pack{
     font-size: 10px;
     text-align: center;
     font-weight: 200;
     margin-bottom: 20px;
     top: 10px;
     right: 30px;
     background-color: rgb(146, 153, 160);
     color: white;
     border-radius: 14px;
     padding: 10px;
}



.picture-left{
    float: left;
}

.box{
    background-color: rgb(238, 224, 224);
}

.menu-title{
    background-color: rgb(255, 255, 255);
}


/* FOOTER */

.text-muted{
    text-align: center;

}